# Vite client environment variables
# Copy this file to `.env.development` or `.env.production` and adjust values per environment.

# Base URL for the backend API (no trailing slash)
VITE_API_BASE_URL=http://localhost:5200


# if running with 'npm run dev' on the server, then put servername instead of localhost
# Base URL for the backend API (no trailing slash)
# VITE_API_BASE_URL=http://server-name:5200

# if serving the client frontend from backend 'node server.js' on the server, then leave it blank
# VITE_API_BASE_URL=


# Full URL to the n8n webhook for text-to-image generation
# Example: http://localhost:5678/webhook-test/gen-image
VITE_N8N_IMAGE_WEBHOOK=http://localhost:5678/webhook-test/gen-image3
